.rel{
    height: 100vh;
    background-color: black;
    box-sizing: border-box;
    .vid{
        // background-color: rgb(20, 20, 20);
        height: 100vh;
        display: flex;
        align-items: center;
    }
}