.ch{
    height: 100vh;
    
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
            url('https://www.wallpaperflare.com/static/691/284/927/league-legends-champions-wallpaper.jpg') center/cover no-repeat;
    padding-top: 90px;
    .all{
        .side{
            background-color: rgba(43, 45, 49, 0.4);
            width: 250px;
            padding: 40px;
            
            .filt{
                color: rgb(133, 132, 132);
              
                
            }
        }
    }
}