.login {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
        url('https://preview.redd.it/in73r6sbixz31.png?width=4096&format=png&auto=webp&s=810fa4aef8f17b2ccf3ca4c18601eb731904d37e') center/cover no-repeat;


    
    .alll{
        display: flex;
       
    }
    .pic{
        width: 400px;
        height: 745px;
        background-image: url("https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/8bc08f0cfa588ed0d76ae86156ddf07a85a64f7d-1920x1080.jpg");
        background-size: cover;
        background-position: center;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        img{
            width: 100%;
        }
        // background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
        // url('https://displays.riotgames.com/static/content-original-championillustrations-group-slashes-9828cf13cecf88fb9f21ee17afa6874e.jpg') center/cover no-repeat;
    }
    .card {
        // background-color: rgba(61, 61, 61, 0.438);
        display: flex;
        justify-content: center;
        align-items: center;

        .aur {
            position: absolute;

            img {
                width: 70%;
            }
        }

        .par {
            background-color: rgb(20, 17, 36);
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 70px;
            backdrop-filter: blur(10px);
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 50px 70px;
            
            .pa{
                display: flex;
                gap: 10px;
                align-items: center;
                p{
                    color: white;
                }
                .log{
                    color: rgb(126, 126, 126);
                }
            }
            

            h3 {
                color: rgb(212, 212, 212);
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;
                color: white;

                .agree{
                    width: 300px;
                    display: flex;
                    align-items: start;
                    gap: 10px;
                    color: rgb(187, 187, 187);
                }

                .inp {
                    display: flex;
                    flex-direction: column;
                    color: rgb(174, 175, 202);
                    gap: 5px;
                    position: relative;

                    input {
                        background-color: #303245;
                        border-radius: 12px;
                        border: 0;
                        box-sizing: border-box;
                        color: #eee;
                        font-size: 18px;
                        outline: 0;
                        padding: 15px;
                    

                        &:focus~.cut,
                        &:not(:placeholder-shown)~.cut {
                            transform: translateY(8px);
                        }

                        &:focus~.placeholder,
                        &:not(:placeholder-shown)~.placeholder {
                            transform: translateY(-30px) translateX(10px) scale(0.75);
                        }

                        &:not(:placeholder-shown)~.placeholder {
                            color: #808097;
                        }

                        &:focus~.placeholder {
                            color: #dc2f55;
                        }
                    }

                    .cut {
                        background-color: #15172b;
                        border-radius: 10px;
                        height: 20px;
                        left: 20px;
                        position: absolute;
                        top: -20px;
                        transform: translateY(0);
                        transition: transform 200ms;
                        width: 76px;

                        &.cut-short {
                            width: 50px;
                        }
                    }

                    .placeholder {
                        color: #65657b;
                        font-family: sans-serif;
                        left: 20px;
                        line-height: 14px;
                        pointer-events: none;
                        position: absolute;
                        transform-origin: 0 50%;
                        transition: transform 200ms, color 200ms;
                        top: 20px;
                    }
                }

                .but {
                    background-color: rgb(25, 175, 209);
                    border: none;
                    color: white;
                    padding: 10px;
                    margin-top: 30px;
                    text-align: center;
                }

                .social{
                    text-align: center;
                    color: rgb(187, 187, 187);
                    h3{
                        color: rgb(187, 187, 187);  
                    }
                    .icons{
                        font-size: 40px;
                        display: flex;
                        gap: 20px;
                        justify-content: center;
                        padding: 30px;
                        a{
                            color: rgb(187, 187, 187); 
                        }
                    }
                }
            }

        }
    }

}